body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* padding: 70px 0px; */
    background-color: yellow;
    background-image: url(https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fHNob3BwaW5nJTIwYmlsbGluZ3xlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;
}

.container {
    background-color: #eeeaea85;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    /* margin-bottom: 15px; */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
