*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    overflow: hidden;
}
.main{
    height: 100%;
    height: 100%;
}
.nav{
    height: 10%;
    width: 100%;
    background-color:
#373b9f;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    
}
.center{
    display: flex;
    gap: 40px;
}
.logo{
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>h1{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.nav>button{
    padding: 10px 15px;
    color:black;
    background-color:yellow;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}
.up{
    height: 46%;
    width: 100%;
    background-color:#373b9f ;
    display: flex;
    /* border-bottom-left-radius: 30px; */
}

.left{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    padding: 55px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left>h1{
    color: white;
}
.left>p{
    color: white;
}
.left>button{
    width: 150px;
    padding: 8px 15px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
}
.right{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1664575599730-0814817939de?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.dow{
    height: 46%;
    width: 100%;
    /* background-color:rgb(255, 0, 195); */
    /* display: flex; */

}
.ur{
    height: 16%;
    width: 100%;
    /* background-color: brown; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dr{
    height: 86%;
    width: 100%;
    /* background-color: rgb(33, 20, 220); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.elem{
    height: 200px;
    width: 200px;
    /* background-color: greenyellow; */
    border: 1px solid black;
    text-align: center;
    border-bottom-right-radius: 30px;
    margin: 20px;
    
}
.elem>h4{
    margin-top: 40px;
}